body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 15px 15px 0 0;
}

.card-body {
    border-radius: 0 0 15px 15px;
}

.list-group {
    max-height: 200px;
    overflow-y: auto;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
